<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.phone_number %>
<%= @restaurant.address %>
<%= @restaurant.category %>
<%= @restaurant.reviews.each do |review| %>
<%= review.content %></p>
<% end %>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
